Udemy - VueJS Cod3r/5- Vue CLI/projeto-com-plugins/node_modules/
Udemy - VueJS Cod3r/5- Vue CLI/projeto-simples/node_modules/
Udemy - VueJS GuiaCodigo/projeto/netflixVue/node_modules/
Udemy - VueJS GuiaCodigo/projeto/netflixVue/package-lock.json